*{margin:0;padding:0;box-sizing:border-box;-webkit-box-sizing:border-box;}
html{background:#f5f5f5;}
body{max-width:640px;margin:0 auto;font-family:microsoft yahei;font-size:14px;background:#EEEEEE}
a{text-decoration:none;}
/*头部*/
.ly-header{position:fixed;top:0;z-index:10;width:100%;max-width: 640px;}
.ly-header nav{height:40px;background:#F07BB5;}
.ly-header nav h2{color:#FFF;font-size:16px;line-height:40px;text-align: center;}
/*内容*/
.ly-section1{min-height:100%;padding:40px 0 0 0;}
.ly-section1 .line{margin:5px 10px 0 10px;}
.ly-section1 .left{float:left;max-width:80%;margin:10px 0 0 0;}
.ly-section1 .left img{float:left;margin:0 5px 0 0;}
.ly-section1 .left div{position:relative;margin:0 0 0 55px;padding:10px;background:#FFF;color:#323232; border-radius:6px;line-height: 22px;}
.ly-section1 .left div i{position: absolute;top: 15px;left: -8px;width: 0;height: 0;border-top: 6px solid transparent;border-right: 8px solid #FFF;border-bottom: 6px solid transparent;}
.ly-section1 .left div img{float:none;}
.zizhi {width:70%;}
.zizhi img {width:100%; margin:0!important;}
.ly-hide{display:none;}
.ly-clear{clear:both;}
.loading {width: 150px;height: 10px;margin: 0 auto;margin-top: 20px;}
.loading span {display: inline-block;width: 10px;height: 100%;margin-right: 5px;border-radius: 50%;background: #302825;-webkit-animation: load 1.04s ease infinite;
}
.loading span:last-child {margin-right: 0px;}
.loading span:nth-child(1){-webkit-animation-delay:0.13s;}
.loading span:nth-child(2){-webkit-animation-delay:0.26s;}
.loading span:nth-child(3){-webkit-animation-delay:0.39s;}
.loading span:nth-child(4){-webkit-animation-delay:0.52s;}
.loading span:nth-child(5){-webkit-animation-delay:0.65s;}
@-webkit-keyframes load{0%{opacity: 1;-webkit-transform: scale(1.3);}100%{opacity: 0.2;-webkit-transform: scale(.3);}}
#lx>span {color: #F07BB5;font-weight: 600;}
.talk {padding: 0px 0 120px 0;}
.talk .right{float:right;max-width:80%;margin:10px 0 0 0;}
.talk .right img{float:right;margin:0 0 0 5px;}
.talk .right div{position:relative;min-height:41px;margin:0 55px 0 0;padding:10px;background:#A0E75A;color:#333;border-radius:6px;}
.talk .right div i{position:absolute;top:15px;right:-8px;width: 0;height: 0;border-top: 6px solid transparent;border-left: 8px solid #A0E75A;border-bottom: 6px solid transparent;}
/*按钮*/
.select_botton {position:fixed;bottom: 20px;width: 100%;max-width: 640px;z-index: 100;padding: 14px 6px 0;box-sizing: border-box;font-size: 0;text-align: center;}
.select_botton a {display: inline-block;padding: 8px 0;background: #ff7b9e;color: #Fff;font-size: 14px;border-radius: 6px;margin-bottom: 6px;width: 23%;text-align: center;margin: 1%;}
#wx,#wx1{color: #f00;font-weight: bold;}
#bq{position: fixed;bottom: 20px;left: 0;right: 0;margin:auto;}
/*颜肌导航*/
#nav{position: fixed;bottom: 0px;left: 0;right: 0;margin:auto;max-width: 640px}
.nav {width: 100%;height: 20px;line-height: 20px;margin: 0 auto;}
.nav ul {width: 100%;overflow: hidden;}
.nav ul li {float: left;width: 25%;text-align: center;display: inline;}
.nav ul li a {color: #e4e3e3;font-family: "微软雅黑";font-size: 12px;display: block;margin-left: 5px;text-align: center;height: 20px;line-height: 20px;overflow: hidden;text-decoration: none;}
.nav ul li a span {display: block;font-family: "微软雅黑";vertical-align: middle;font-size: 12px;}

/*禁止h5长按调起系统菜单*/
			*{
			    -webkit-touch-callout:none; /*系统默认菜单被禁用*/
			    -webkit-user-select:none; /*webkit浏览器*/
			    -khtml-user-select:none; /*早期浏览器*/
			    -moz-user-select:none;/*火狐*/
			    -ms-user-select:none; /*IE10*/
			    user-select:none;
			}
			input,textarea {
			    -webkit-user-select:auto; /*webkit浏览器*/
			    -khtml-user-select:auto; /*早期浏览器*/
			    -moz-user-select:auto;/*火狐*/
			    -ms-user-select:auto; /*IE10*/
			    user-select:auto;
			}
			.dianj,.dianj2,.dianj3,.dianj4,.dianj5{
				border: 1px solid #000;
				position: absolute;
				left: 25%;
				background-color: #000;
				color: #fff;
				border-radius: 5px;
				padding: 5px;
				opacity: .8;
				display: none;
			}
			.dianj{
				top: -50px;
			}
			.dianj2{
				top: 8px;
                left: 50%;
			}
			.dianj3{
				left: 45%;
                bottom: 50;
			}
			.dianj4{
				top: 43px;
				left: 20%;
			}
			.dianj5{
				top: -30px;
				left: 0;
			}
			.dianj:before ,.dianj2:before,.dianj3:before,.dianj4:before,.dianj5:before{
				content: "";
				width: 0;
				height: 0;
				border-right: 10px solid transparent;
				border-left: 10px solid transparent;
				border-top: 10px solid #000;
				position: absolute;
				left: 40%;
				bottom: -10px;
			}
